/target/

auction-service/.project
auction-dao/.project
auction-model/.project
auction-web/.project


# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.settings
*.classpath
/bin
